<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>出错了</title>
</head>

    <style type="text/css">
        a:hover{
            text-decoration: none;
            color: #1E9FFF;
        }
        a{
            text-decoration: none;
            color: gray;
        }
    </style>

<body>

    <div>
        <div align="center" style="font-size: 40px">
            <span>o(╥﹏╥)o&nbsp;&nbsp;&nbsp;</span>
            <span>页面出错了...</span> <br><br>
            <span>快联系dirkZh@163.com</span><br><br>
            <a href="/">返回主页</a>
        </div>

        <br>

        <div align="center" >
            <span style="font-size: 40px">女帝镇楼，以免挨打</span><br><br>
            <img src="/index/img/nv.png">
        </div>

    </div>

</body>
</html>