<!doctype html>
<html	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head design-width="750">
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>账户管理</title>
	<link rel="stylesheet" href="/user/manage/css/style.css" /><!--页面样式-->

	<script src="/user/manage/js/auto-size.js"></script><!--设置字体大小-->

	<script src="/user/manage/js/jquery-2.2.4.min.js"></script><!--引入jQuery-->

	<!--弹框引入-->
	<link rel="stylesheet" href="/naran/css/naranja.min.css">
	<script type="text/javascript" src="/naran/js/naranja.js"></script>

	<style type="text/css">
		body{
			background-image: url("/user/manage/img/bg.jpg");
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		font{
			color: black;
		}
	</style>

</head>
<body>
	<!--<div class="mobile-wrap center mobile-wrap-mb">-->

    <div>
        <header>
			<a href="#" onClick="javascript :history.back(1);">
				<span class="return">
					返回
				</span>
			</a>
			<a th:href="@{/user/logout}">
				<span class="return">
					退出登录
				</span>
			</a>
        </header>
        <main>
        	<div class="inform">
        		<h3>账号管理</h3>
        		<div class="inform-list">
        			<ul>
        				<li class="acti">修改头像</li>
        				<li>修改资料</li>
        				<li>修改密码</li>
        			</ul>
        		</div>
        		<div class="inform-text show">
					<input type="hidden" th:value="${session.user.userId}" id="userId" name="userId"/>
					<p>
					<span>
						<font>头像：</font>
					</span>
						<img style="
								display: inline;
								width: 50px;
								height: 50px;
								border-radius: 50%;
								align-items: center;
								justify-content: center;
								overflow: hidden;
								cursor: pointer;"
							 th:src="${user.headImgUrl}"
							 id="imgPre">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input style="width: 120px;height: 50px" type="file" name="headImg" id="headImg" onchange="preImg(this.id,'imgPre');">
					</p>
					<h4>
						<input type="submit" style="cursor: pointer" onclick="headImgChange()" value="确定修改" />
						<a href="/to/contact" style="color: black;">遇到问题？</a>
					</h4>
        		</div>

        		<div class="inform-text">
        				<input type="hidden" th:value="${session.user.userId}" id="authorId"/>
        			<p>
        				<span>
							<font>用户名：</font>
        				</span>
        				<input type="text" th:value="${user.username}" id="username"/>
        			</p>
        			<p>
        				<span>
							<font>邮&nbsp;&nbsp;&nbsp;箱：</font>
        				</span>
        				<input type="text" th:value="${user.email}" id="email"/>
        			</p>
        			<h4>
        				<input type="submit" style="cursor: pointer" onclick="msgChange()" value="确定修改" />
        				<a href="/index#4" style="color: black;">遇到问题？</a>
        			</h4>
        		</div>

        		<div class="inform-text">
        			<p>
        				<span>
							<font>原密码：</font>
        				</span>
        				<input type="text" id="oldpwd"/>
        			</p>
        			<p>
        				<span>
							<font>新密码：</font>
        				</span>
        				<input type="text" id="newpwd" onblur="checkPwd()"/>
        			</p>
        			<p>
        				<span style="font-size: 20px">
							<font>确认密码：</font>
        				</span>
        				<input type="text" id="oncepwd"/>
        			</p>
        			<h4>
        				<input type="submit" style="cursor: pointer" onclick="pwdChange()" value="确定修改" />
        				<a href="/index#4" style="color: black;">遇到问题？</a>
        			</h4>
        		</div>
        	</div>
        </main>

   </div><!--mobile_wrap-->
</body>

<script type="text/javascript">

	$('.inform-list ul li').click(function(){
		var n=$(this).index();
		$(this).addClass('acti').siblings().removeClass('acti');
		$('.inform-text').fadeOut();
		$('.inform-text').eq(n).fadeIn();
	})

    /**
	 * 修改用户名/邮箱函数
     * @returns {boolean}
     */
    function msgChange() {
        var url="/user/manage/magChange";
        var userId = document.getElementById('authorId').value;
        var username = document.getElementById('username').value;
        var email = document.getElementById('email').value;
        var args={userId:userId, username:username, email:email};
        var re = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;

		if(username == ''){
            narn('warn','用户名不能为空！')
		}else if (!re.test(email)){
		    narn('warn','非有效邮箱！')
		}else {
            $.post(url,args,function(data){
                if(data=="EmailUsed"){
                    narn('warn','新邮箱已被注册！')
                }else if(data=="EmailOk"){
                    narn('success','邮箱修改成功！')
                }else if(data=="UsernameOk"){
                    narn('success','用户名修改成功！')
                }else if(data=="EmailUsernameOk"){
                    narn('success','用户名和邮箱修改成功！')
                }else if(data=="NothingDo"){
                    narn("warn","还请填写新信息！")
				}
            },'html');
            return false;
		}
    }

    /**
	 * 修改密码函数
     */
    function pwdChange() {
        var url="/user/manage/pwdChange";
        var userId = document.getElementById('authorId').value;
        var oldpwd = document.getElementById('oldpwd').value;
        var newpwd = document.getElementById('newpwd').value;
        var oncepwd = document.getElementById('oncepwd').value;
        var args={userId:userId, oldpwd:oldpwd, newpwd:newpwd};

        if(oldpwd == '' || newpwd == '' || oncepwd == ''){
            narn('warn','请补全密码信息！')
        }else if (newpwd!=oncepwd){
            narn('warn','确认密码与新密码不一致！')
        }else if(oldpwd == newpwd){
            narn('warn','新密码应与原密码不一致！')
		}else if(checkPwd()){
            $.post(url,args,function(data){
                if(data=="PwdError"){
                    narn('warn','原密码输入错误！')
                }else if(data=="PwdOk"){
                    narn('success','密码修改成功！')
                }
            },'html');
            return false;
		}
    }

    /**
	 * 修改头像
    */
    function headImgChange() {
        var headImg = document.getElementById("headImg").value;
        if (headImg==""){
            narn('warn','还未选择新头像！')
        }else {
            narn('success', '正在修改头像，请稍后。。。');
            var userId = document.getElementById('userId').value;
            var formData = new FormData();
            formData.append("userId",userId)
            formData.append("headImg",document.getElementById("headImg").files[0])
            $.ajax({
                type: 'post',
                url: "/user/manage/changeHeadImg",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
            }).success(function (data) {
                if(data=="HeadImgOk"){
                    narn("success","头像更新成功！")
                }else{
                    narn("warn","头像更新失败！")
				}
            }).error(function () {
                narn("warn","头像更新失败！")
            });
        }
    }

    /**
	 * 弹出对话框
     * @param type
     * @param msg
     */
    function narn (type,msg) {
        naranja()[type]({
            title: '消息提示',
            text: msg,
            timeout: 'keep',
            buttons: [{
                text: '接受',
                click: function (e) {
                    naranja().success({
                        title: '通知',
                        text: '通知被接受'
                    })
                }
            },{
                text: '取消',
                click: function (e) {
                    e.closeNotification()
                }
            }]
        })
    }

    //校验密码
    function checkPwd(){
        var str = document.getElementById('newpwd').value;
        var re = /^[a-zA-Z]\w{5,17}$/;
        if (!re.test(str)) {
            narn('success','密码应以字母开头,长度在6-18之间,只能包含字符、数字和下划线!')
			return false;
        }
        return true;
    }

    /**
     * 从 file 域获取 本地图片 url
     */
    function getFileUrl(sourceId) {
        var url;
        if (navigator.userAgent.indexOf("MSIE")>=1) { // IE
            url = document.getElementById(sourceId).value;
        } else if(navigator.userAgent.indexOf("Firefox")>0) { // Firefox
            url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
        } else if(navigator.userAgent.indexOf("Chrome")>0) { // Chrome
            url = window.URL.createObjectURL(document.getElementById(sourceId).files.item(0));
        }
        return url;
    }

    /**
     * 将本地图片 显示到浏览器上
     */
    function preImg(sourceId, targetId) {
        var url = getFileUrl(sourceId);
        var imgPre = document.getElementById(targetId);
        imgPre.src = url;
    }

</script>
</html>
