<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

    <div th:fragment="footer" class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <p class="copyright text-muted">Dirk Blog &copy; 2019 我们的天空
                    |
                    <a href="https://github.com/dirkzlw" target="_blank" title="GitHub">更多项目</a>
                </p>
            </div>
        </div>
    </div>

</body>
</html>