<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>right</title>
</head>
<body>

<div th:fragment="right" >
    <div class="aside-widget">
        <header>
            <h3>公告</h3>
        </header>
        <div class="body">
            <ul class="clean-list" th:each="notice : ${application.noticeList}">
                <li class="notice_active_ch">
                    <span th:text="${notice.message}" style="font-size: 18px"></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="aside-widget">
        <header>
            <h3>热门文章</h3>
        </header>
        <div class="body">
            <ul class="clean-list" th:each="hotBlog : ${hotBlogList}">
                <li>
                    <a th:text="${hotBlog.blogTitle}" th:href="@{/blog/showOne(id=${hotBlog.blogId})}"></a>
                    <span th:text="${hotBlog.viewNum}" style="float: right;"></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="aside-widget">
        <header>
            <h3>标签</h3>
        </header>
        <div class="body clearfix">
            <ul class="tags" th:each="blogTag : ${application.blogTagList}">
                <li><a th:href="@{/tag/search(blogTag=${blogTag.id})}" th:text="${blogTag.typeName}"></a></li>
            </ul>
        </div>
    </div>

    <div class="aside-widget">
        <header>
            <h3>关注</h3>
        </header>
        <div class="">
            <img style="height: 100%;width: 100%" src="/index/img/wen.jpg" alt="">
        </div>
    </div>
</div>
</body>
</html>