<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>DirkBLog--编辑公告</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="/table/css/style.css"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"/>

    <script src="/table/js/jquery.min.js"></script>
    <script src="/table/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/table/js/bootbox.min.js"></script>

    <style type="text/css">
        a:hover {
            cursor: pointer;
            text-decoration: none;
        }
    </style>

</head>
<body>

<div class="box" style="position: relative;top: 0px;">
    <div class="content">
        <!--添加按钮及bootstrap的模态框-->
        <div class="export">
            <button id="new_add" type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target="#renyuan">
                <img src="/table/img/add_two.png"/>
                <span>添加</span>
            </button>
            <div class="modal fade" id="renyuan">
                <div class="modal-dialog modal-lg modal_position">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">添加公告</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <table id="xztb" class="table">
                                <!--添加会议弹窗的样式-->
                                <tbody>
                                <tr>
                                    <td class="tb_bg"><label for="notice_add"><font
                                            style="font-size: 14px; color: red;">*</font>公告</label>
                                    </td>
                                    <td><input class="notice_add" id="notice_add" name="notice_add" type="text"
                                               placeholder="请输入公告(限20字)" maxlength="20"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button id="add_btn" type="button" class="btn btn-secondary">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="xrenyuan">
                <div class="modal-dialog modal-lg modal_position">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">修改公告</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <table id="xxztb" class="table">
                                <!--修改公告样式-->
                                <tbody>
                                <tr>
                                    <td>
                                        <textarea
                                                style="width: 100%;height: 200px"
                                                class="noPassReason"
                                                id="noPassReason"
                                                name="noPassReason"
                                                type="text"></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button id="xadd_btn" type="button" class="btn btn-secondary">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--表格列表-->
        <table id="tb" class="table">
            <thead>
            <tr>
                <th>公告</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="show_tbody">
            <tr th:each="notice: ${noticeList}" th:id="${notice.id} * (-1)">
                <td th:text="${notice.message}"></td>
                <td>
                    <a class="edit">编辑</a>
                    <a class="del" th:id="${notice.id}" onclick="delNotice(this.id)">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/mgn/js/notice-mgn.js"></script>
<script type="text/javascript">
    $(function () {
        $("img.dialog").click(function() {
            var src = this.src;
            document.getElementById("authImg").src=src
            $('#bgImg').modal('show');
        });
    });
</script>
<script type="text/javascript">
    function delNotice(noticeId) {
        var aTag = document.getElementById(noticeId * (-1));
        // ajax 删除公告
        $.ajax({
            type: "POST",
            url: "/mgn/notice/del",
            data: {'noticeId': noticeId},
            dataType: "text", //return dataType: text or json
            success: function (json) {
                if (json == "success") {
                    aTag.remove();
                    bootbox.alert({
                        title: "来自DirkBlog的提示",
                        message: "公告删除成功",
                        closeButton: false
                    })
                }else if(json=="fail") {
                    bootbox.alert({
                        title: "来自DirkBlog的提示",
                        message: "删除失败，请检查网络",
                        closeButton: false
                    })
                    return
                }
            },
            error: function (json) {
                bootbox.alert({
                    title: "来自DirkBlog的提示",
                    message: "删除失败，请检查网络",
                    closeButton: false
                })
                return
            }
        });
    }
</script>
</body>
</html>